@tailwind base;
@tailwind components;
@tailwind utilities;


/* .underline{
    color:red;
} */

/* #iinput{
    border-color: red;
    border-width: medium;
} */

/* .w-min-50{
    min-width: 50%;
    width: auto;
} */